/Backend_learning/node_modules/
/Backend_learning/.env

/cv_assignments/
/cn_assignments/

/learning_blockchain/node_modules/

/learning_devops/.terraform/
/learning_devops/.terraform.lock.hcl
/learning_devops/terraform.tfstate
/learning_devops/test_ec2_rootkey.csv
/learning_devops/*.pem
/learning_devops/*.csv
/learning_devops/key_pairs/


/learning_dsa_cpp_luv/.vscode/
/learning_dsa_cpp_luv/build/

/learning_full_stack_development/

/learning_react/


